<!DOCTYPE html>
<html>
<head>
	<title>Cadastrar Novo Incidente</title>
	<style type="text/css">
		input, select{
			width: 100%;
		}
		.submit{
			width: 100px;
		}
		body {
			font-size: 20px;
			font-family: Arial;
		}
	</style>
</head>
<body>
	<center>
		<form method='POST'>
			{% csrf_token %}
			<table>
			<tr>
				<td>Cidade:</td>
			    <td>{{form.cidade}}</td>
			</tr>
			<tr>
				<td>Tipo:</td>
				<td>{{form.tipo}}</td>
			</tr>
			<tr>
				<td>Data Prevista:</td>
				<td>{{form.data_prevista}}</td>
			</tr>
			<tr>
				<td>Gravidade:</td>
			    <td>{{form.gravidade}}</td>
			</tr>
			<tr>
				<td><input class="submit" type="submit"></td>
			</tr>
			</table>
		</form>
	</center>
</body>
</html>